<?xml version="1.0" encoding="utf-8"?>
<!--
  This web.config is for Linux App Service with prebuilt venv.
  The actual startup is handled by startup.sh script.
  
  IMPORTANT: For Linux App Service, set the following in Azure Portal:
  - General Settings > Startup Command: bash startup.sh
  - Configuration > App Settings:
    * SCM_DO_BUILD_DURING_DEPLOYMENT = false (to preserve prebuilt venv)
    * WEBSITE_RUN_FROM_PACKAGE = 0
    * PORT = 8000 (handled by gunicorn)
-->
<configuration>
  <!-- Linux App Service doesn't use web.config for startup -->
  <!-- This file is kept for documentation purposes -->
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform requestTimeout="00:20:00"
                  stdoutLogEnabled="true"
                  stdoutLogFile="/home/LogFiles/stdout.log"
                  startupTimeLimit="300">
    </httpPlatform>
  </system.webServer>
</configuration>